html{
    margin:0;
    padding:0;
}
body{
    background: #141419;
    width:100%;
    height:100%;
    // overflow:hidden;

    // @font-face {
    //     font-family: 'iconfont';
    //     src: url('//at.alicdn.com/t/font_1247671_z76e6b6yd6.eot');
    //     src: url('//at.alicdn.com/t/font_1247671_z76e6b6yd6.eot?#iefix') format('embedded-opentype'),
    //     url('//at.alicdn.com/t/font_1247671_z76e6b6yd6.woff2') format('woff2'),
    //     url('//at.alicdn.com/t/font_1247671_z76e6b6yd6.woff') format('woff'),
    //     url('//at.alicdn.com/t/font_1247671_z76e6b6yd6.ttf') format('truetype'),
    //     url('//at.alicdn.com/t/font_1247671_z76e6b6yd6.svg#iconfont') format('svg');
    //   }
}

a{
    text-decoration:none;
}
button{
    outline:none;
    cursor: pointer;
}

select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding-right: 10px;
    background: #34343B;
    border-radius: 4px;
    outline:none;
    border:none;
    font-size: 14px;
    color: #B8BBCA;
    padding:10px;
}
@media (max-width:1366px){
    select{
        padding-right: 6.63px;
        font-size: 12px;
        padding:6.63px;
    }
}
option{
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background: #34343B;
    color: #B8BBCA;
    &:hover{
        color: #B8BBCA;
    }
}

ul li{
    list-style-type:none;
}
.inline-block-correction{
    font-size: 0;
    letter-spacing: -3px;
}

.btn{
    border:none;
    background: #1E89E4;
    border-radius: 4px;
    color:#fff;
    width:150px;
    height:40px;
    font-size:16px;
}
@media (max-width:1366px){
    .btn{
        width:106.20px;
        height:33.18px;
        font-size:14px;
    }
}

.small{
    width:auto;
    min-width:66px;
    height:26px;
    font-size:14px;
    padding: 3px 11px;
}
@media (max-width:1366px){
    .small{
        height: 22.25px;
        font-size:12px;
        padding: 2px 7px;
        // vertical-align: middle;
        vertical-align: unset;
    }
}
.gary{
    background: #3C3C49;
    color: #B8BBCA;
}
.gary:hover{
    background: #1E89E4;
    color:#fff;
}
.blue-line{
    background:#fff;
    border: 1px solid #1E89E4;
    color: #1E89E4;
}

.red{
    background: #FF3939;
}


::-webkit-scrollbar-track-piece { //滚动条凹槽的颜色，还可以设置边框属性
    background-color:#2A2B31;
}
::-webkit-scrollbar {//滚动条的宽度
    width:1px;
    height:1px;
}
::-webkit-scrollbar-thumb {//滚动条的设置
    background-color:#2A2B31;
    background-clip:padding-box;
    min-height:1px;
}
::-webkit-scrollbar-thumb:hover {
    background-color:#2A2B31;
}

::-webkit-scrollbar{
    width: 0;
}

#supervideo-show-play-error-message{
    display:none !important;
}

.vjs-error-display,.vjs-modal-dialog,.vjs-hidden,.vjs-error-display,.vjs-modal-dialog,.vjs-hidden,.vjs-big-play-button{
    display:none !important;
}

.theme-btn_blue:hover{
    background: #37A0F9;
}
.theme-btn_blue:active{
    background: #1B7ACA;
}
.theme-btn_red:hover{
    background: #FC8256;
}
.theme-btn_red:active{
    background: #E23535;
}
