@333: #333;
@666: #666;
@999: #999;
@fff: #fff;
@red: red;

@12: 12px;
@14: 14px;
@16: 16px;
@18: 18px;
@20: 20px;
@22: 22px;
@24: 24px;
@26: 26px;
@28: 28px;

/*应用状态_主色*/
@theme--normal: #fb3a32;
@theme--hover: #fc615b;
@theme--click: #e2332c;
@theme--disabled: #e2332c;
@theme_border_color: #fdb0ad;
@theme_background_color: #ffebeb;

/*应用状态_提示*/
@default--normal: #3562fa;
@default--hover: #5d81fb;
@default--click: #3157e1;
@default--disabled: #9db3fc;
@default_border_color: #aec0fd;
@default_background_color: #ebefff;

/*应用状态_成功*/
@success--normal: #15ba6a;
@success--hover: #44c888;
@success--click: #13a85f;
@success--disabled: #8edeb7;
@success_border_color: #a1e3c3;
@success_background_color: #e8f8f0;

/*应用状态_成功*/
@warning--normal: #fa9a32;
@warning--hover: #fbae5b;
@warning--click: #e18b2e;
@warning--disabled: #fdd7ad;
@warning_border_color: #fcce9c;
@warning_background_color: #fff5eb;

/*应用状态_危险*/
@danger--normal: #e2332c;
@danger--hover: #e75c56;
@danger--click: #cb2f29;
@danger--disabled: #f09d99;
@danger_border_color: #f3adab;
@danger_background_color: #fcebea;

/*文字-颜色: h1-标题/正文；h3-描述；h4-占位文字、禁用*/
@font_color_h1: #1a1a1a;
@font_color_h2: #666666;
@font_color_h3: #999999;
@font_color_white: #ffffff;
@font_color_gray: #e2e2e2;

/*文字-大小*/
@font_size_30: 30px;
@font_size_28: 28px;
@font_size_20: 20px;
@font_size_22: 22px;
@font_size_18: 18px;
@font_size_16: 16px;
@font_size_14: 14px;
@font_size_12: 12px;

/*文字-字体*/
@fontSemibold: '-apple-system', 'BlinkMacSystemFon', 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
@fontMedium: '-apple-system', 'BlinkMacSystemFon', 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
@fontRegular: '-apple-system', 'BlinkMacSystemFon', 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
@fontDINAL: '-apple-system', 'BlinkMacSystemFon', 'Helvetica Neue', Helvetica, 'PingFang SC',
  'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;

/*边框颜色*/
@border--normal: #cccccc;
@border--hover: #999999;
@border--disabled: #e6e6e6;
@border--red: #fa3f37;
@border--selected: #333333;

/*背景颜色*/
@background_black: #1a1a1a;
@background--selected: #333333;
@background_white: #ffffff;
@background_gray: #f7f7f7;
@background_switch: #cecece;

/*分割线*/
@hr_color: #e6e6e6;

/*flex兼容*/
.flex-display() {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}

// 定义主轴方向
.direction(@type: row) {
  -webkit-box-orient: vertical;
  -ms-flex-direction: @type;
  -webkit-flex-direction: @type;
  flex-direction: @type;
}

// 定义垂直位置
.align(@type) {
  -webkit-box-align: @type;
  -ms-flex-align: @type;
  -webkit-align-items: @type;
  align-items: @type;
}

// 定义横向位置
.justify(@type) {
  -webkit-box-pack: @type;
  -ms-flex-pack: @type;
  -webkit-justify-content: @type;
  justify-content: @type;
}

// 定义换行
.wrap(@type) {
  -webkit-flex-wrap: @type;
  -moz-flex-wrap: @type;
  -ms-flex-wrap: @type;
  -o-flex-wrap: @type;
  flex-wrap: @type;
}

/* 自适应 */
.flex {
  width: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.color-E34522 {
  color: #e34522;
}

.color-794CC5 {
  color: #794cc5;
}

.color-3562FA {
  color: #3562fa;
}

.color-FA9A32 {
  color: #fa9a32;
}

.color-14BA6A {
  color: #14ba6a;
}

.color-676971 {
  color: #676971;
}

.leve3_title {
  font-size: @font_size_14;
  font-family: @fontRegular;
  font-weight: 400;
  color: @background_black;
  line-height: 20px;

  &.title--999 {
    color: @font_color_h3;
  }

  &.title--666 {
    color: @font_color_h2;
  }
}

/*重置边框*/
.el-main.route-wrap {
  background: @background_gray;
  padding: 40px 61px;
}

.label__r12 {
  margin-right: 12px;
}

/*Input 计数器*/
.input-length {
  position: relative;

  /deep/.el-input__inner {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  /deep/.el-input-group__append {
    position: absolute;
    font-size: 14px;
    font-weight: 400;
    color: #999999;
    background: #ffffff;
    border: 0;
    padding: 0 0;
    margin: 0 0;
    top: 10px;
    right: 10px;
    width: auto;
  }
}

.el-textarea__inner {
  &:hover {
    border-color: #999;
  }
}

/*开关重置*/
.switch__box {
  /deep/ .el-switch {
    margin-right: 8px;
  }

  /deep/ span.el-switch__core {
    width: 28px !important;
    height: 16px !important;
    background: @background_switch !important;
    border-radius: 10px !important;
    border-color: @background_switch !important;
  }

  /deep/ .el-switch.is-checked span.el-switch__core {
    background: @theme--normal !important;
    border-radius: 8px !important;
    border-color: @theme--normal !important;
  }

  /deep/ span.el-switch__core:after {
    width: 12px;
    height: 12px;
    background: @background_white;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  }

  /deep/ .el-switch.is-checked .el-switch__core::after {
    margin-left: -13px;
  }
}

.save-margin-top40 {
  margin-top: 40px;
}

.save-margin-top24 {
  margin-top: 24px;
}

.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before,
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
  color: #fb3a32;
}

/*左侧导航重置*/
.el-menu-reset.el-menu {

  .el-menu-item,
  .el-submenu__title {
    height: auto;
    line-height: normal;
  }

  .el-menu-item {
    padding-left: 32px !important;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 22px;
    font-size: @font_size_16;
    // border-left: 4px solid @background_black;
    background: @background_black;

    &.is-active,
    &:hover {
      // border-left-color: @border--red;
      // -moz-border-left-colors: @border--red;

      i {
        color: @theme--normal;
      }

      span {
        font-size: @font_size_16;
        font-family: @fontRegular;
        font-weight: 400;
        color: @theme--normal;
        line-height: 22px;
      }
    }
  }

  .el-menu-item [class^='el-icon-'] {
    margin-right: 14px;
    text-align: center;
    font-size: @font_size_18;
    vertical-align: middle;
    color: @font_color_gray;
  }

  .el-submenu [class^='el-icon-'] {
    margin-right: 14px;
    text-align: center;
    font-size: @font_size_18;
    vertical-align: middle;
    color: @font_color_gray;
  }

  .a-line {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    font-size: @font_size_16;
    font-family: @fontRegular;
    font-weight: 400;
    color: @font_color_gray;
    line-height: 22px;
  }

  .el-submenu__title {
    padding-left: 34px !important;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 22px;
    background: @background_black;

    span {
      font-size: @font_size_16;
      font-family: @fontRegular;
      font-weight: 400;
      color: @font_color_gray;
      line-height: 22px;
    }
  }

  .el-submenu__icon-arrow {
    right: 34px;
    color: @font_color_gray;
  }

  .el-menu [role^='menu'] {
    background: @background--selected;
    padding-left: 61px !important;
    border-left: 4px solid transparent;

    &:hover {
      // border-left-color: @border--red;
      // -moz-border-left-colors: @border--red;

      span {
        font-size: @font_size_16;
        font-family: @fontRegular;
        font-weight: 400;
        color: @theme--normal;
        line-height: 22px;
      }
    }

    &.is-active {
      border-left-color: @border--red;
      -moz-border-left-colors: @border--red;

      span {
        font-size: @font_size_16;
        font-family: @fontRegular;
        font-weight: 400;
        color: @theme--normal;
        line-height: 22px;
      }
    }
  }

  .el-submenu.is-opened {
    .el-submenu__title {
      background: @background--selected;
    }
  }
}

.el-checkbox__inner {
  background-color: transparent;
}

/*悬浮退出重置*/
.zdy-hover-dropdown.el-dropdown-menu {
  padding: 0 0;

  .el-dropdown-menu__item {
    min-width: 160px;
    height: 40px;
    background: #ffffff;
  }
}

/*按钮-type="text"重置*/
/deep/ .el-button--text {
  font-size: @font_size_14;
  font-family: @fontRegular;
  font-weight: 400;
  color: @default--normal;
  line-height: 20px;
}

/*按钮-透明默认底重置*/
/deep/.el-button.transparent-btn {
  background: transparent;

  &:hover {
    background: #fb3a32;
    border: 1px solid #fb3a32;
  }

  &:focus {
    background: #e2332c;
    color: #fff;
    border: 1px solid #e2332c;
  }

  &:active {
    background: #e2332c;
    border: 1px solid #e2332c;
  }

  &.is-disabled {
    border: 1px solid #e6e6e6;
    background: transparent;
    color: #b3b3b3;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
    }
  }
}

/*时间选择器样式重置*/
/deep/ .el-input__inner {
  // border-radius: 18px;
  height: 36px;
  background: transparent;
  // padding-right: 50px;
}

/deep/ .el-range-separator {
  width: 10%;
  line-height: 28px;
}

/*Input计数重置*/
.el-input__count-inner {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  line-height: 20px;
}

.el-textarea .el-input__count {
  font-size: 14px;
  line-height: 20px;
}

/*下拉框箭头颜色重置*/
.el-select .el-input .el-select__caret {
  color: #666666;
}

/*下拉框重置*/
.el-select-dropdown__item {
  &.selected {
    color: #1a1a1a;
    background: #f7f7f7;
    background-color: #f7f7f7;
  }

  &.selected:hover {
    color: #1a1a1a;
    background: #f7f7f7;
    background-color: #f7f7f7;
  }

  &:hover {
    color: #1a1a1a;
    background-color: #f7f7f7;
    background: #f7f7f7;
  }

  color: #666;
  padding: 0 12px;
}

/*dialog开启会给body添加padding-right:10px;导致画面抖动，故去掉*/
body {
  padding-right: 0 !important;
}

/*-----------------------------------------文本框placeholder 样式重置 ---------------------------------------------*/
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  /* WebKit, Blink, Edge */
  font-size: @font_size_14;
  font-family: @fontRegular;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
}

/*-----------------------------------------表格 样式重置 ---------------------------------------------*/
/deep/.el-table__row {
  /* WebKit, Blink, Edge */
  &:hover,
  &:focus,
  &:active {
    /deep/.el-button--text {
      color: #fb3a32;
    }
  }
}

/deep/.el-table.table-td56 {
  /deep/td,
  /deep/th {
    padding: 15px 0;
  }
}

/deep/.el-table__row:hover {
  .el-button {
    color: #fb3a32;
  }
}

/*表格最后一根线压右侧直播按钮-重置*/
/deep/.el-table::before {
  height: 0;
}

/*-----------------------------------------表单异常 样式重置 ---------------------------------------------*/
.el-form-item.is-error .el-input__inner,
.el-form-item.is-error .el-input__inner:focus,
.el-form-item.is-error .el-textarea__inner,
.el-form-item.is-error .el-textarea__inner:focus,
.el-message-box__input input.invalid,
.el-message-box__input input.invalid:focus {
  border-color: #fb3a32;
}

.el-form-item__error {
  font-size: 12px;
  font-weight: 400;
  color: #fb3a32;
}

// 日期重置
.el-date-range-picker__content .el-date-range-picker__header div {
  color: #1a1a1a;
}

// .el-picker-panel__shortcut:first-of-type {
//   color: #fb3a32;
// }
.el-date-table {
  td span {
    font-size: 14px;
    color: #1a1a1a;
  }

  td.prev-month {
    span {
      color: #999;
    }
  }

  td.disabled {
    div {
      background-color: #f7f7f7;
    }

    span {
      color: #999;
    }
  }

  td.today.end-date,
  td.today.start-date {
    div {
      background-color: #f7f7f7;
    }

    span {
      color: #fb3a32;
      background-color: transparent;
      font-weight: 400;
    }
  }

  td.today {
    span {
      font-weight: 500;
    }
  }

  td.end-date,
  td.start-date {

    // div{
    //   background-color: #fff6f6;
    // }
    span {
      background-color: transparent;
      color: #fb3a32;
    }
  }

  td.available {
    span:hover {
      // background-color: #fff6f6;
      color: #fb3a32;
    }
  }

  td.in-range {
    div {
      background-color: #fff6f6;
      border-radius: 0;

      &:hover {
        background-color: #fff6f6;
        border-radius: 0;
      }
    }

    span {
      color: #fb3a32;
    }
  }

  .today.in-range.end-date {
    div {
      background-color: #fff6f6;
    }
  }
}

.el-range-editor.is-active,
.el-range-editor.is-active:hover {
  border-color: #999;
}

/*-----------------------------------------按钮组 ---------------------------------------------*/
.length152 {
  min-width: 160px;
}

.length104 {
  min-width: 60px;
}

.length90 {
  min-width: 76px;
}

.length76 {
  min-width: 76px;
}

.length106 {
  min-width: 106px;
}

.length60 {
  min-width: 40px;
}

.no-border {
  border: 0 !important;
}

.el-button {
  /* 默认按钮 */
  font-size: 14px;
  font-family: @fontRegular;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #cccccc;
  padding: 9px 48px;
  color: #666666;

  &:hover {
    color: #fff;
    background: #fb3a32;
    border: 1px solid #fb3a32;
  }

  &:focus {
    color: #fff;
    background: #fb3a32;
    border: 1px solid #fb3a32;
  }

  &:active {
    color: #ffffff;
    background: #e2332c;
    border: 1px solid #e2332c;
  }

  &.is-disabled {
    background: transparent;
    border: 1px solid #e6e6e6;
    cursor: not-allowed;
    color: #b3b3b3;

    &:hover,
    &:focus,
    &:active {
      color: #b3b3b3;
      border: 1px solid #e6e6e6;
    }
  }
}

/deep/button.no-hover {
  color: #666666;
  background: #f7f7f7;
  border: 1px solid #f7f7f7;

  &:hover {
    color: #666666;
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
  }

  &:focus {
    color: #666666;
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
  }

  &:active {
    color: #666666;
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
  }
}

button.el-button.el-button--medium {
  /* 中等按钮 */
  padding: 4px 24px;
  font-size: 14px;
  font-family: @fontRegular;
  font-weight: 400;
  line-height: 26px;
}

button.el-button.el-button--white-medium {
  /* 中等按钮 */
  padding: 4px 24px;
  font-size: 14px;
  font-family: @fontRegular;
  font-weight: 400;
  line-height: 26px;
  border: 1px solid #fb3a32;
  color: #fb3a32;

  &:hover {
    background: #fc615b;
    color: #ffffff;
    border: 1px solid #fc615b;
  }
}

.el-button.is-disabled {
  background: transparent;

  &:hover {
    background: transparent;
  }
}

.el-button.is-round {
  border-radius: 20px;
  padding: 9px 51px;
}

button.el-button.el-button--small {
  /*小型按钮*/
  padding: 5px 16px;
  font-size: 14px;
  font-family: @fontRegular;
  font-weight: 400;
  line-height: 20px;
}

button.el-button.el-button--mini {
  /*迷你按钮 26Height*/
  padding: 2px 8px;
  font-size: 12px;
  font-family: @fontRegular;
  font-weight: 400;
  line-height: 20px;
}

button.el-button.el-button--primary {
  /*primary 按钮*/
  background: #fb3a32;
  color: #ffffff;
  border: 1px solid #fb3a32;

  &:hover {
    color: #fff;
    background: #fc615b;
    border: 1px solid #fc615b;
  }

  &:focus {
    color: #fff;
    background: #fb3a32;
    border: 1px solid #fb3a32;
  }

  &:active {
    background: #e2332c;
    border: 1px solid #e2332c;
  }

  &.is-disabled {
    background: #f09d99;
    border: 1px solid #f09d99;
    cursor: not-allowed;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      background: #f09d99;
      border: 1px solid #f09d99;
    }
  }
}

button.el-button.el-button--white-primary {
  /*白色-primary 按钮*/
  background: transparent;
  color: #fb3a32;
  border: 1px solid #fb3a32;

  &:hover {
    background: #fc615b;
    color: #ffffff;
    border: 1px solid #fc615b;
  }

  &:focus {
    background: #fb3a32;
    color: #ffffff;
    border: 1px solid #fb3a32;
  }

  &:active {
    background: #e2332c;
    border: 1px solid #e2332c;
  }

  &.is-disabled {
    background: #f09d99;
    border: 1px solid #f09d99;
    color: #ffffff;
    cursor: not-allowed;

    &:hover,
    &:active {
      background: #f09d99;
      border: 1px solid #f09d99;
    }
  }
}

.el-button.el-button--text {
  border: 0;
  background: transparent;
  color: #1a1a1a;
  padding: 0 0;
}

/*--------------------------------------------------------------------------------------*/
/*-----------------------------------------绑定/修改--卡片 开始 ---------------------------------------------*/
.comp-card-one {
  .flex-display();
  .justify(flex-start);
  .align(center);
  height: 80px;
  border-radius: 4px;
  border: 1px solid @border--disabled;
  padding: 20px 24px;
  width: 100%;
  margin-bottom: 32px;

  .pwd--circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    line-height: 40px;

    .iconfont-v3 {
      font-size: 28px;
    }

    &.blue {
      background: #ebefff;
    }

    &.orange {
      background: #fff5eb;
    }

    &.green {
      background: #e8f8f0;
    }
  }

  .ul--son--card {
    margin-left: 16px;

    li {
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .card--bold {
    font-size: @font_size_14;
    font-family: @fontMedium;
    font-weight: 500;
    color: @font_color_h1;
    line-height: 20px;
  }

  .card--txt {
    font-size: @font_size_14;
    font-family: @fontRegular;
    font-weight: 400;
    color: @font_color_h2;
    line-height: 20px;
  }

  .card--status {
    font-size: @font_size_14;
    font-family: @fontRegular;
    font-weight: 400;
    line-height: 20px;

    &.level_high {
      color: #3562fa;
    }

    &.level_center {
      color: #fa9a32;
    }

    &.level_min {
      color: #fb3a32;
    }
  }

  .card--blue {
    margin-left: auto;
  }
}

/*-----------------------------------------绑定/修改--卡片 结束 ---------------------------------------------*/
/*-----------------------------------------主界面-布局-右侧100% 开始 ---------------------------------------------*/
.layout--right--main() {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}

.min-height--header {
  min-height: 140px;
}

.min-height {
  min-height: 676px;
}

/*tab 跟内容之间 间距1*/
.padding41-40() {
  padding: 41px 40px 0 40px;
  overflow: hidden;
}

.padding48-40() {
  padding: 48px 40px 40px 40px;
  overflow: hidden;
}

.padding-table-list() {
  padding: 24px 24px 40px 24px;
  overflow: hidden;
}

.padding-table-list2() {
  padding: 24px 24px 40px 24px;
  overflow: hidden;
}

.padding-form {
  padding: 41px 56px 0 56px;
}

/*-----------------------------------------主界面-布局-右侧100% 结束 ---------------------------------------------*/
/*-----------------------------------------重置Tab 开始 ---------------------------------------------*/
/deep/ .el-tabs__header {
  margin: 0 0;
}

/deep/ .el-tabs__item {
  padding: 0 24px;
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  position: relative;
  font-size: 16px;
  font-family: @fontRegular;
  font-weight: 400;
  color: #666666;
  line-height: 55px;
  height: 55px;

  &.is-active {
    color: #fb3a32;
  }
}

/deep/ .el-table .cell {
  padding-left: 24px;
}

/deep/ .el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2),
/deep/ .el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
/deep/ .el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
/deep/ .el-tabs--top .el-tabs__item.is-top:nth-child(2) {
  padding-left: 24px;
}

/deep/ .el-tabs__nav-wrap::after {
  height: 1px;
  color: #e6e6e6;
}

/deep/.el-tabs__active-bar {
  background-color: #fb3a32;
}

/deep/.el-date-editor .el-range__icon {
  color: #999;
}

/*-----------------------------------------重置Tab 结束 ---------------------------------------------*/

/*-----------------------------------------重置Loading区域 开始 ---------------------------------------------*/
.el-loading-spinner i {
  font-size: 50px;
  color: #fb3a32;
  margin-bottom: 24px;
}

/*-----------------------------------------重置Loading区域 结束 ---------------------------------------------*/

/*-----------------------------------------重置dialog弹窗 ---------------------------------------------*/
/deep/.el-dialog {
  border-radius: 4px;
}

/deep/ .el-dialog__header {
  padding: 24px 32px;
}

/deep/ .el-dialog__body {
  padding: 0 32px;
}

/deep/ .el-dialog__headerbtn {
  top: 30px;
  right: 32px;

  .el-dialog__close {
    color: #666666;
  }
}

/deep/ .el-dialog__footer {
  padding: 24px 32px;
}

/deep/ .el-dialog__title {
  font-size: 20px;
  font-family: @fontMedium;
  font-weight: 500;
  color: #1a1a1a;
  line-height: 28px;
}

/*-----------------------------------------重置el-form表单 ---------------------------------------------*/
/deep/ .el-form-item {
  margin-bottom: 24px;
}

/deep/.el-form-item__label {
  color: @font_color_h1;
}

/*权限遮罩*/
.pre--full-mask {
  position: relative;
}

.pre--full-cover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 9;
}

/*-----------------------------------------重置$confirm-确认提示弹出框 开始 ---------------------------------------------*/
.el-message-box.zdy-message-box {
  padding-bottom: 0;
  width: 400px;

  .el-message-box__header {
    padding: 24px 32px;
  }

  .el-message-box__title {
    font-size: 20px;
    font-family: @fontMedium;
    font-weight: 500 !important;
    color: #1a1a1a;
    line-height: 28px;
  }

  .el-message-box__headerbtn {
    top: 30px;
    right: 32px;

    .el-message-box__close {
      color: #666666;
    }
  }

  .el-message-box__content {
    padding: 0 32px;
    min-height: 40px;
  }

  .el-message-box__message p {
    color: #1a1a1a;
  }

  .el-message-box__btns {
    padding: 24px 32px;

    .el-button {
      border-radius: 20px;
      min-width: 76px !important;
      min-height: 36px !important;
    }
  }
}

/*重置 $confirm 弹出框取消按钮位置*/
.zdy-confirm-cancel {
  float: right;
  margin-left: 10px;
}

.zdy-confirm-cancel-hide {
  display: none;
}

.zdy-alert-box {
  &.el-message-box--center {
    padding-bottom: 0;
  }

  .el-message-box__header {
    padding: 24px 32px;
  }

  .el-message-box__title {
    font-size: 20px;
    font-family: @fontMedium;
    font-weight: 500;
    color: #1a1a1a;
    line-height: 28px;
  }

  .el-message-box__headerbtn {
    top: 30px;
    right: 32px;

    .el-message-box__close {
      color: #666666;
    }
  }

  .el-message-box__content {
    padding: 0 32px;
  }

  .el-message-box__message p {
    color: #1a1a1a;
  }

  .el-message-box__btns {
    padding: 24px 32px;

    .el-button {
      border-radius: 20px;
      min-width: 76px !important;
      min-height: 36px !important;
    }
  }
}

.zdy-info-box {
  z-index: 3000 !important;

  /deep/.el-message__content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-right: 26px !important;
  }

  /deep/.el-icon-error {
    color: #fb3a32;
  }

  /deep/.el-icon-success {
    color: #14ba6a;
  }

  /deep/.el-icon-info {
    color: #3562fa;
  }

  /deep/.el-icon-warning {
    color: #fa9a32;
  }

  /deep/&.el-message--error {
    background-color: #ffebeb;
    border: 0;
    border-radius: 4px;

    /deep/.el-message__content {
      color: #fb3a32;
    }

    /deep/.el-message__closeBtn {
      color: #fb3a32;
      right: 19px;
      font-size: 16px;
    }
  }

  /deep/&.el-message--success {
    background-color: #e8f8f0;
    border: 0;
    border-radius: 4px;

    /deep/.el-message__content {
      color: #14ba6a;
    }

    /deep/.el-message__closeBtn {
      color: #14ba6a !important;
      right: 19px;
      font-size: 16px;
    }
  }

  /deep/&.el-message--info {
    background-color: #ebefff;
    border: 0;
    border-radius: 4px;

    /deep/.el-message__content {
      color: #3562fa;
    }

    /deep/.el-message__closeBtn {
      color: #3562fa;
      right: 19px;
      font-size: 16px;
    }
  }

  /deep/&.el-message--warning {
    background-color: #fff5eb;
    border: 0;
    border-radius: 4px;

    /deep/.el-message__content {
      color: #fa9a32;
    }

    /deep/.el-message__closeBtn {
      color: #fa9a32;
      right: 19px;
      font-size: 16px;
    }
  }
}

// 互动工具的提交button
.common-but {
  width: 160px;
  height: 40px;
  background: #fc5659;
  border-radius: 4px;
  font-size: 14px;
  font-family: @fontRegular;
  font-weight: 400;
  color: #ffffff;
}

.transfer-box {
  width: 350px;
  background: rgba(51, 51, 51, 0.8) !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-family: @fontRegular;
  font-weight: 400;
  color: #ffffff;
  line-height: 18px;
}

.beforeStar:before {
  content: '*';
  color: red;
  position: absolute;
  left: -15px;
}

// 签到的弹窗选择select
.sign-select {
  .el-scrollbar__view .selected {
    color: #fc5659;
  }
}

/*模拟开关*/
.zdy--switch {
  display: block;
  margin-bottom: 24px;
  width: 160px;
  height: 30px;
  border-radius: 100px;
  border: 1px solid #cccccc;

  span {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 50%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: @fontRegular;
    font-weight: 400;
    color: #666666;
    cursor: pointer;
    margin-left: -1px;
    margin-top: -1px;

    &:last-child {
      margin-left: 1px;
    }

    &.active {
      background: #fb3a32;
      color: #ffffff;
      border-radius: 15px;
    }
  }
}

/*云盾色值*/

.captcha {
  /deep/ .yidun .yidun_control {
    border-radius: 4px !important;
    border-color: #ccc;
    background: #fff;

    .yidun_tips {
      color: #888888;
      line-height: 38px;
    }

    // .yidun_slider {
    //   &:hover {
    //     background-color: #3562FA;
    //   }
    // }
    &.yidun_control--moving .yidun_slide_indicator {
      border-color: #3562fa;
      background-color: #f0f1fe;
    }
  }

  .yidun.yidun--light.yidun--success.yidun--jigsaw .yidun_control .yidun_slide_indicator {
    border-color: #3562fa;
    background-color: #f0f1fe;
  }

  .yidun.yidun--light.yidun--success.yidun--jigsaw {
    .yidun_control .yidun_slider {
      background-color: #3562fa;
    }

    .yidun_slide_indicator {
      border-color: #3562fa !important;
      background-color: #f0f1fe !important;
    }
  }
}

/*确定同步xxxx至XXXX 弹出框*/
.zdy-async-dialog {
  .async__body {}

  .async__ctx {
    p {
      font-size: 14px;
      font-weight: 400;
      color: #1a1a1a;
      line-height: 20px;
      margin-bottom: 8px;
    }

    /deep/.el-checkbox {
      /deep/.el-checkbox__label {
        font-size: 14px;
        font-weight: 400;
        color: #1a1a1a;
        line-height: 20px;
        padding-left: 8px;
      }
    }
  }

  .async__footer {
    padding: 16px 0 24px 0;
    text-align: right;

    /deep/.el-button+.el-button {
      margin-left: 12px;
    }
  }
}

/*dialog 屏幕自适应*/
.el-dialog__wrapper .el-dialog {
  @media (max-width: 1440px) {
    margin-top: 12vh !important;
  }

  @media (max-width: 1366px) {
    margin-top: 10vh !important;
    margin-bottom: 0;
  }
}

.el-radio__inner {
  width: 16px;
  height: 16px;

  &:after {
    width: 8px;
    height: 8px;
  }
}

/*表格单元格 tooltip 样式*/
.custom-tooltip-content {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/deep/.vh-slider__button-wrapper {
  z-index: 0;
}