@333: #333;
@666: #666;
@999: #999;
@fff: #fff;
@red: red;

@12: 12px;
@14: 14px;
@16: 16px;
@18: 18px;
@20: 20px;
@22: 22px;
@24: 24px;
@26: 26px;
@28: 28px;

/*应用状态_主色*/
@theme--normal: #fb3a32;
@theme--hover: #fc615b;
@theme--click: #e2332c;
@theme--disabled: #e2332c;
@theme_border_color: #fdb0ad;
@theme_background_color: #ffebeb;

/*应用状态_提示*/
@default--normal: #3562fa;
@default--hover: #5d81fb;
@default--click: #3157e1;
@default--disabled: #9db3fc;
@default_border_color: #aec0fd;
@default_background_color: #ebefff;

/*应用状态_成功*/
@success--normal: #15ba6a;
@success--hover: #44c888;
@success--click: #13a85f;
@success--disabled: #8edeb7;
@success_border_color: #a1e3c3;
@success_background_color: #e8f8f0;

/*应用状态_成功*/
@warning--normal: #fa9a32;
@warning--hover: #fbae5b;
@warning--click: #e18b2e;
@warning--disabled: #fdd7ad;
@warning_border_color: #fcce9c;
@warning_background_color: #fff5eb;

/*应用状态_危险*/
@danger--normal: #e2332c;
@danger--hover: #e75c56;
@danger--click: #cb2f29;
@danger--disabled: #f09d99;
@danger_border_color: #f3adab;
@danger_background_color: #fcebea;

/*文字-颜色: h1-标题/正文；h3-描述；h4-占位文字、禁用*/
@font_color_h1: #1a1a1a;
@font_color_h2: #666666;
@font_color_h3: #999999;
@font_color_white: #ffffff;
@font_color_gray: #e2e2e2;

/*文字-大小*/
@font_size_30: 30px;
@font_size_20: 20px;
@font_size_22: 22px;
@font_size_18: 18px;
@font_size_16: 16px;
@font_size_14: 14px;
@font_size_12: 12px;

/*文字-字体*/
@fontSemibold: PingFangSC-Semibold, PingFang SC;
@fontMedium: PingFangSC-Medium, PingFang SC;
@fontRegular: PingFangSC-Regular, PingFang SC;
@fontDINAL: DINAlternate-Bold, DINAlternate;

/*边框颜色*/
@border--normal: #cccccc;
@border--hover: #999999;
@border--disabled: #e6e6e6;
@border--red: #fa3f37;
@border--selected: #333333;

/*背景颜色*/
@background_black: #1a1a1a;
@background--selected: #333333;
@background_white: #ffffff;
@background_gray: #f7f7f7;
@background_switch: #cecece;

/*分割线*/
@hr_color: #e6e6e6;

/*flex兼容*/
.flex-display(){
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box; /* Firefox 17- */
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex; /* Firefox 18+ */
  display: -ms-flexbox; /* IE 10 */
  display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}

// 定义主轴方向
.direction(@type:row){
  -webkit-box-orient: vertical;
  -ms-flex-direction: @type;
  -webkit-flex-direction: @type;
  flex-direction: @type;
}

// 定义垂直位置
.align(@type){
  -webkit-box-align: @type;
  -ms-flex-align: @type;
  -webkit-align-items: @type;
  align-items: @type;
}

// 定义横向位置
.justify(@type){
  -webkit-box-pack: @type;
  -ms-flex-pack: @type;
  -webkit-justify-content: @type;
  justify-content: @type;
}

// 定义换行
.wrap(@type){
  -webkit-flex-wrap: @type;
  -moz-flex-wrap: @type;
  -ms-flex-wrap: @type;
  -o-flex-wrap: @type;
  flex-wrap:  @type;
}

/* 自适应 */
.flex {
  width: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.leve3_title {
  font-size: @font_size_14;
  font-family: @fontRegular;
  font-weight: 400;
  color: @background_black;
  line-height: 20px;
  &.title--999 {
    color: @font_color_h3;
  }
  &.title--666 {
    color: @font_color_h2;
  }
}

/*重置边框*/
.el-main.route-wrap{
  background: @background_gray;
  padding: 40px 61px;
}
.label__r12 {
  margin-right: 12px;
}
/*开关重置*/
.switch__box {
  /deep/.el-switch {
    margin-right: 8px;
  }
  /deep/span.el-switch__core {
    width: 28px!important;
    height: 16px!important;
    background: @background_switch!important;
    border-radius: 10px!important;
    border-color: @background_switch!important;
  }
  /deep/.el-switch.is-checked span.el-switch__core{
    background: @theme--normal!important;
    border-radius: 8px!important;
    border-color: @theme--normal!important;
  }
  /deep/span.el-switch__core:after {
    width: 12px;
    height: 12px;
    background: @background_white;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  }
  /deep/.el-switch.is-checked .el-switch__core::after {
    margin-left: -12px;
  }
}

/*滚动条*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #eff1f7;
}
/*滑块hover效果*/
::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  /*内阴影*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #eef2ff
}

.save-margin-top40 {
  margin-top: 40px;
}
.save-margin-top24 {
  margin-top: 24px;
}
/*左侧导航重置*/
.el-menu-reset.el-menu {
  .el-menu-item, .el-submenu__title {
    height: auto;
    line-height: normal;
  }
  .el-menu-item {
    padding-left: 30px!important;
    padding-top: 17px;
    padding-bottom: 17px;
    line-height: 22px;
    border-left: 4px solid @background_black;
    background: @background_black;
    &.is-active,&:hover {
      border-left-color: @border--red;
      -moz-border-left-colors: @border--red;
      i {
        color: @theme--normal;
      }
      span {
        font-size: @font_size_16;
        font-family: @fontRegular;
        font-weight: 400;
        color: @theme--normal;
        line-height: 22px;
      }
    }
  }
  .el-menu-item [class^=el-icon-] {
    margin-right: 14px;
    text-align: center;
    font-size: @font_size_18;
    vertical-align: middle;
    color: @font_color_gray;
  }
  .el-submenu [class^=el-icon-] {
    margin-right: 14px;
    text-align: center;
    font-size: @font_size_18;
    vertical-align: middle;
    color: @font_color_gray;
  }
  .a-line {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    font-size: @font_size_16;
    font-family: @fontRegular;
    font-weight: 400;
    color: @font_color_gray;
    line-height: 22px;
  }
  .el-submenu__title {
    padding-left: 34px!important;
    padding-top: 17px;
    padding-bottom: 17px;
    line-height: 22px;
    background: @background_black;
    span {
      font-size: @font_size_16;
      font-family: @fontRegular;
      font-weight: 400;
      color: @font_color_gray;
      line-height: 22px;
    }
  }
  .el-submenu__icon-arrow {
    right: 34px;
    color: @font_color_gray;
  }
  .el-menu [role^=menu]{
    background: @background--selected;
    padding-left: 61px!important;
    border-left: 4px solid @border--selected;
    &.is-active,&:hover {
      border-left-color: @border--red;
      -moz-border-left-colors: @border--red;
      span {
        font-size: @font_size_16;
        font-family: @fontRegular;
        font-weight: 400;
        color: @theme--normal;
        line-height: 22px;
      }
    }
  }
  .el-submenu.is-opened {
    .el-submenu__title {
      background: @background--selected;
    }
  }
}
/*按钮-type="text"重置*/
/deep/.el-button--text {
  font-size: @font_size_14;
  font-family: @fontRegular;
  font-weight: 400;
  color: @default--normal;
  line-height: 20px;
}
/*时间选择器样式重置*/
/deep/.el-input__inner {
  // border-radius: 18px;
  height: 36px;
  background: transparent;
}
/deep/.el-range-separator {
  width: 10%;
  line-height: 28px;
}
/*Input计数重置*/
.el-input__count-inner{
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 20px;
}
/*-----------------------------------------文本框placeholder 样式重置 ---------------------------------------------*/
::-webkit-input-placeholder,:-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder{ /* WebKit, Blink, Edge */
  font-size: @font_size_14;
  font-family: @fontRegular;
  font-weight: 400;
  color: #999999;
  line-height: 20px;
}
/*-----------------------------------------按钮组 ---------------------------------------------*/
.length152 {
  min-width: 152px;
}
.length104 {
  min-width: 104px;
}
.length60 {
  min-width: 60px;
}
.no-border {
  border: 0!important;
}
.el-button {
  /* 默认按钮 */
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 20px;
  border: 1px solid #CCCCCC;
  padding: 9px 48px;
  color: #666666;
}
button.el-button.el-button--medium {
  /* 中等按钮 */
  border: 1px solid #CCCCCC;
  padding: 4px 24px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 26px;
}
.el-button.is-round {
  border-radius: 20px;
  padding: 9px 48px;
}
button.el-button.el-button--small {
  /*小型按钮*/
  border: 1px solid #CCCCCC;
  padding: 5px 16px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #676767;
  line-height: 20px;
}
button.el-button.el-button--mini {
  /*迷你按钮 26Height*/
  border: 1px solid #CCCCCC;
  padding: 2px 16px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 20px;
}
button.el-button.el-button--primary {
  /*primary 按钮*/
  background: #FB3A32;
  color: #FFFFFF;
  border: 1px solid #FB3A32;
  &:hover {
    background: #FC615B;
    border: 1px solid #FC615B;
  }
  &:active {
    background: #E2332C;
    border: 1px solid #E2332C;
  }
  &.is-disabled {
    background: #F09D99;
    border: 1px solid #F09D99;
    cursor: not-allowed;
    &:hover, &:active{
      background: #F09D99;
      border: 1px solid #F09D99;
    }
  }
}
button.el-button.el-button--white-primary {
  /*白色-primary 按钮*/
  background: #FFFFFF;
  color: #FB3A32;
  border: 1px solid #FB3A32;
  &:hover {
    background: #FC615B;
    color: #FFFFFF;
    border: 1px solid #FC615B;
  }
  &:active {
    background: #E2332C;
    border: 1px solid #E2332C;
  }
  &.is-disabled {
    background: #F09D99;
    border: 1px solid #F09D99;
    cursor: not-allowed;
    &:hover, &:active{
      background: #F09D99;
      border: 1px solid #F09D99;
    }
  }
}
.el-button.el-button--text {
  border: 0;
  background: transparent;
  color: #1A1A1A;
  padding: 0 0;
}
/*--------------------------------------------------------------------------------------*/
/*-----------------------------------------绑定/修改--卡片 开始 ---------------------------------------------*/
.comp-card-one {
  .flex-display();
  .justify(flex-start);
  .align(center);
  height: 80px;
  border-radius: 4px;
  border: 1px solid @border--disabled;
  padding: 20px 24px;
  width: 100%;
  margin-bottom: 32px;
  .pwd--circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    &.blue {
      background: #EBEFFF;
    }
    &.orange {
      background: #FFF5EB;
    }
    &.green {
      background: #E8F8F0;
    }
  }
  .ul--son--card {
    margin-left: 16px;
    li {
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .card--bold {
    font-size: @font_size_14;
    font-family: @fontMedium;
    font-weight: 500;
    color: @font_color_h1;
    line-height: 20px;
  }
  .card--txt {
    font-size: @font_size_14;
    font-family: @fontRegular;
    font-weight: 400;
    color: @font_color_h2;
    line-height: 20px;
  }
  .card--status {
    font-size: @font_size_14;
    font-family: @fontRegular;
    font-weight: 400;
    line-height: 20px;
    &.level_high {
      color: #3562FA;
    }
    &.level_center {
      color: #FA9A32;
    }
    &.level_min {
      color: #FB3A32;
    }
  }
  .card--blue {
    margin-left: auto;
  }
}
/*-----------------------------------------绑定/修改--卡片 结束 ---------------------------------------------*/
/*-----------------------------------------主界面-布局-右侧100% 开始 ---------------------------------------------*/
.layout--right--main() {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border-radius: 4px;
  overflow: hidden;
}
.min-height--header {
  min-height: 140px;
}
.min-height {
  min-height: 676px;
}
/*tab 跟内容之间 间距1*/
.padding41-40(){
  padding: 41px 40px 0 40px;
  overflow: hidden;
}
/*-----------------------------------------主界面-布局-右侧100% 结束 ---------------------------------------------*/
/*-----------------------------------------重置Tab 开始 ---------------------------------------------*/
/deep/.el-tabs__header {
  margin: 0 0;
}
/deep/.el-tabs__item {
  padding: 0 24px;
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  position: relative;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 55px;
  height: 55px;
  &.is-active {
    color: #FB3A32;
  }
}
/deep/.el-table .cell{
  padding-left: 24px;
}
/deep/.el-tabs--bottom .el-tabs__item.is-bottom:nth-child(2),
/deep/.el-tabs--bottom .el-tabs__item.is-top:nth-child(2),
/deep/.el-tabs--top .el-tabs__item.is-bottom:nth-child(2),
/deep/.el-tabs--top .el-tabs__item.is-top:nth-child(2) {
  padding-left: 24px;
}
/deep/.el-tabs__nav-wrap::after {
  height: 1px;
  color: #E6E6E6;
}
/*-----------------------------------------重置Tab 结束 ---------------------------------------------*/


/*-----------------------------------------重置dialog弹窗 ---------------------------------------------*/
/deep/.el-dialog__header{
  padding: 24px 32px;
}
/deep/.el-dialog__body{
  padding: 0 32px;
}
/deep/.el-dialog__headerbtn{
  top: 30px;
  right:32px;
  .el-dialog__close {
    color: #666666;
  }
}
/deep/.el-dialog__footer{
  padding: 24px 32px;
}
/deep/.el-dialog__title {
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #1A1A1A;
  line-height: 28px;
}

/*-----------------------------------------重置el-form表单 ---------------------------------------------*/
/deep/.el-form-item {
  margin-bottom: 24px;
}

/*权限遮罩*/
.pre--full-mask {
  position: relative;
}
.pre--full-cover {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.5);
  z-index: 9;
}
/*-----------------------------------------重置$confirm-确认提示弹出框 开始 ---------------------------------------------*/
.zdy-message-box {
  .el-message-box__header {
    padding: 24px 32px;
  }
  .el-message-box__title {
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #1A1A1A;
    line-height: 28px;
  }
  .el-message-box__headerbtn {
    top: 30px;
    right: 32px;
    .el-message-box__close {
      color: #666666;
    }
  }
  .el-message-box__content {
    padding: 0 32px;
  }
  .el-message-box__btns {
    padding: 24px 32px;
    .el-button {
      border-radius: 20px;
    }
  }
}
.zdy-alert-box {
  &.el-message-box--center {
    padding-bottom: 0;
  }
  .el-message-box__header {
    padding: 24px 32px;
  }
  .el-message-box__title {
    font-size: 20px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #1A1A1A;
    line-height: 28px;
  }
  .el-message-box__headerbtn {
    top: 30px;
    right: 32px;
    .el-message-box__close {
      color: #666666;
    }
  }
  .el-message-box__content {
    padding: 0 32px;
  }
  .el-message-box__btns {
    padding: 24px 32px;
    .el-button {
      border-radius: 20px;
    }
  }
}
// 互动工具的提交button
.common-but{
  width: 160px;
  height: 40px;
  background: #FC5659;
  border-radius: 4px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
}

.transfer-box{
  width: 350px;
  background: rgba(51, 51, 51, 0.8) !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 18px;
}
