@333: #333;
@666: #666;
@999: #999;
@fff: #fff;
@red: red;

@12: 12px;
@14: 14px;
@16: 16px;
@18: 18px;
@20: 20px;
@22: 22px;
@24: 24px;
@26: 26px;
@28: 28px;

/*应用状态_主色*/
@theme--normal: #fb3a32;
@theme--hover: #fc615b;
@theme--click: #e2332c;
@theme--disabled: #e2332c;
@theme_border_color: #fdb0ad;
@theme_background_color: #ffebeb;

/*应用状态_提示*/
@default--normal: #3562fa;
@default--hover: #5d81fb;
@default--click: #3157e1;
@default--disabled: #9db3fc;
@default_border_color: #aec0fd;
@default_background_color: #ebefff;

/*应用状态_成功*/
@success--normal: #15ba6a;
@success--hover: #44c888;
@success--click: #13a85f;
@success--disabled: #8edeb7;
@success_border_color: #a1e3c3;
@success_background_color: #e8f8f0;

/*应用状态_成功*/
@warning--normal: #fa9a32;
@warning--hover: #fbae5b;
@warning--click: #e18b2e;
@warning--disabled: #fdd7ad;
@warning_border_color: #fcce9c;
@warning_background_color: #fff5eb;

/*应用状态_危险*/
@danger--normal: #e2332c;
@danger--hover: #e75c56;
@danger--click: #cb2f29;
@danger--disabled: #f09d99;
@danger_border_color: #f3adab;
@danger_background_color: #fcebea;

/*文字-颜色: h1-标题/正文；h3-描述；h4-占位文字、禁用*/
@font_color_h1: #1a1a1a;
@font_color_h2: #666666;
@font_color_h3: #999999;
@font_color_white: #ffffff;

/*文字-大小*/
@font_size_20: 20px;
@font_size_22: 22px;
@font_size_16: 16px;
@font_size_14: 14px;
@font_size_12: 12px;

/*文字-字体*/
@fontSemibold: PingFangSC-Semibold, PingFang SC;
@fontRegular: PingFangSC-Regular, PingFang SC;

/*边框颜色*/
@border--normal: #cccccc;
@border--hover: #999999;
@border--disabled: #e6e6e6;

/*背景颜色*/
@background_black: #1a1a1a;
@background--selected: #333333;
@background_white: #ffffff;
@background_gray: #f7f7f7;
@background_switch: #cecece;

/*分割线*/
@hr_color: #e6e6e6;

.leve3_title {
  font-size: @font_size_14;
  font-family: @fontRegular;
  font-weight: 400;
  color: @background_black;
  line-height: 20px;
  &.title--999 {
    color: @font_color_h3;
  }
  &.title--666 {
    color: @font_color_h2;
  }
}

/*重置边框*/
.el-main.route-wrap{
  background: @background_gray;
  padding: 40px 61px;
}
.label__r12 {
  margin-right: 12px;
}
/*开关重置*/
.switch__box {
  /deep/.el-switch {
    margin-right: 8px;
  }
  /deep/span.el-switch__core {
    width: 28px!important;
    height: 16px!important;
    background: @background_switch!important;
    border-radius: 10px!important;
    border-color: @background_switch!important;
  }
  /deep/.el-switch.is-checked span.el-switch__core{
    background: @theme--normal!important;
    border-radius: 8px!important;
    border-color: @theme--normal!important;
  }
  /deep/span.el-switch__core:after {
    width: 12px;
    height: 12px;
    background: @background_white;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  }
  /deep/.el-switch.is-checked .el-switch__core::after {
    margin-left: -12px;
  }
}

/*选择框重置*/
/deep/ .el-input__inner{
  border-radius: 18px;
  height: 35px;
}
/deep/.el-input__icon{
 line-height: 35px;
}
