// sidebar
@menuText: #e2e2e2;
@menuActiveText: #fb3a32;
@subMenuActiveText: #e2e2e2; //https://github.com/ElemeFE/element/issues/12951

@menuBg: #1a1a1a;
@menuHover: #2a2a2a;

@subMenuBg: #2a2a2a;
@subMenuHover: #2a2a2a;

@sideBarWidth: 224px;
@minSideBarWidth: 84px;
