@font-face {
  font-family: 'vh-saas-iconfont'; /* Project id 3120276 */
  src: url('iconfont.woff2?t=1666861813196') format('woff2'),
    url('iconfont.woff?t=1666861813196') format('woff'),
    url('iconfont.ttf?t=1666861813196') format('truetype');
}

.vh-saas-iconfont {
  font-family: 'vh-saas-iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vh-saas-line-vertical-screen:before {
  content: '\e8c9';
}

.vh-saas-line-landscape:before {
  content: '\e915';
}

.vh-saas-line-Live:before {
  content: '\e872';
}

.vh-saas-line-public1:before {
  content: '\e871';
}

.vh-saas-a-line-Interactivetools:before {
  content: '\e84d';
}

.vh-saas-Videoroundtour:before {
  content: '\e86e';
}

.vh-saas-tablets:before {
  content: '\e870';
}

.vh-saas-delete:before {
  content: '\e86f';
}

.vh-saas-jianpan_icon:before {
  content: '\e75b';
}

.vh-saas-fill-off:before {
  content: '\e792';
}

.vh-saas-line-mixeroff:before {
  content: '\e78c';
}

.vh-saas-color-mixer-on:before {
  content: '\e78d';
}

.vh-saas-color-mixer-dc:before {
  content: '\e78f';
}

.vh-saas-line-mixer-on:before {
  content: '\e790';
}

.vh-saas-color-video-dc:before {
  content: '\e791';
}

.vh-saas-a-line-documentthumbnail:before {
  content: '\e855';
}

.vh-saas-line-shangmai:before {
  content: '\e840';
}

.vh-saas-line-shangmaizhong:before {
  content: '\e841';
}

.vh-saas-a-line-Onlinelist:before {
  content: '\e842';
}

.vh-saas-line-blacklist:before {
  content: '\e843';
}

.vh-saas-a-line-Documenttonarrow:before {
  content: '\e844';
}

.vh-saas-a-line-zhikanzhubanfang:before {
  content: '\e845';
}

.vh-saas-a-line-Uploaddocument:before {
  content: '\e846';
}

.vh-saas-a-line-Myprize:before {
  content: '\e847';
}

.vh-saas-line-tag:before {
  content: '\e848';
}

.vh-saas-line-choose:before {
  content: '\e849';
}

.vh-saas-line-public:before {
  content: '\e84a';
}

.vh-saas-a-line-11:before {
  content: '\e84b';
}

.vh-saas-line-switch:before {
  content: '\e84c';
}

.vh-saas-line-drag:before {
  content: '\e84e';
}

.vh-saas-a-line-dissolutiongrouping:before {
  content: '\e84f';
}

.vh-saas-a-line-Screensetting:before {
  content: '\e850';
}

.vh-saas-a-line-batchdistribution:before {
  content: '\e851';
}

.vh-saas-a-line-batchChangegroup:before {
  content: '\e852';
}

.vh-saas-a-line-cancelspeaker:before {
  content: '\e853';
}

.vh-saas-line-timer:before {
  content: '\e854';
}

.vh-saas-a-line-Viewlayout:before {
  content: '\e856';
}

.vh-saas-a-line-fictitiousaudience:before {
  content: '\e857';
}

.vh-saas-line-speaker1:before {
  content: '\e858';
}

.vh-saas-line-browser:before {
  content: '\e859';
}

.vh-saas-a-line-thirdpartyinitiate:before {
  content: '\e85a';
}

.vh-saas-line-heat:before {
  content: '\e85b';
}

.vh-saas-a-line-Requestassistance:before {
  content: '\e85c';
}

.vh-saas-line-speaker:before {
  content: '\e85d';
}

.vh-saas-line-fingerprint:before {
  content: '\e85e';
}

.vh-saas-a-line-Onthemicrophone:before {
  content: '\e85f';
}

.vh-saas-a-line-Signin:before {
  content: '\e860';
}

.vh-saas-line-label:before {
  content: '\e861';
}

.vh-saas-a-line-Desktopsharing:before {
  content: '\e862';
}

.vh-saas-a-line-specialsetup:before {
  content: '\e863';
}

.vh-saas-line-multilingual:before {
  content: '\e864';
}

.vh-saas-a-line-Intotheteam:before {
  content: '\e865';
}

.vh-saas-a-line-Onthemicrophone1:before {
  content: '\e866';
}

.vh-saas-a-line-cancelspeaker1:before {
  content: '\e867';
}

.vh-saas-a-line-Ingroup:before {
  content: '\e868';
}

.vh-saas-a-line-Smallprogram:before {
  content: '\e869';
}

.vh-saas-line-relay:before {
  content: '\e86a';
}

.vh-saas-line-whiteboard:before {
  content: '\e86b';
}

.vh-saas-a-line-offthemicrophone:before {
  content: '\e86c';
}

.vh-saas-a-line-KickedoutMembers:before {
  content: '\e86d';
}

.vh-saas-a-icon_zuoyouhuadong2x:before {
  content: '\e78e';
}

.vh-saas-line-browser1:before {
  content: '\e7f9';
}

.vh-saas-line-background:before {
  content: '\e7f2';
}

.vh-saas-line-Skincare:before {
  content: '\e7f1';
}

.vh-saas-line-originalimage:before {
  content: '\e7f0';
}

.vh-saas-line-whitening:before {
  content: '\e7e4';
}

.vh-saas-a-line-Thinface:before {
  content: '\e7e5';
}

.vh-saas-line-ruddy:before {
  content: '\e7e6';
}

.vh-saas-line-Brighteye:before {
  content: '\e7e7';
}

.vh-saas-line-nose:before {
  content: '\e7e9';
}

.vh-saas-line-Bigeye:before {
  content: '\e7ea';
}

.vh-saas-line-forehead:before {
  content: '\e7eb';
}

.vh-saas-line-Beautytooth:before {
  content: '\e7ec';
}

.vh-saas-line-mouth:before {
  content: '\e7ed';
}

.vh-saas-line-sharpen:before {
  content: '\e7ee';
}

.vh-saas-line-exfoliating:before {
  content: '\e7ef';
}

.vh-saas-a-Redbest:before {
  content: '\e7e3';
}

.vh-saas-a-color-trylook:before {
  content: '\e634';
}

.vh-saas-a-color-Userstatistics:before {
  content: '\e63b';
}

.vh-saas-color-advertising:before {
  content: '\e60b';
}

.vh-saas-color-chat:before {
  content: '\e60c';
}

.vh-saas-a-color-clientinitiate:before {
  content: '\e60d';
}

.vh-saas-a-color-childaccount:before {
  content: '\e60e';
}

.vh-saas-a-color-Bannedchat:before {
  content: '\e60f';
}

.vh-saas-a-color-Brandset:before {
  content: '\e610';
}

.vh-saas-a-color-Custommenu:before {
  content: '\e611';
}

.vh-saas-color-concurrent:before {
  content: '\e612';
}

.vh-saas-a-color-consolelogo:before {
  content: '\e613';
}

.vh-saas-color-document:before {
  content: '\e614';
}

.vh-saas-a-color-developmentSetup:before {
  content: '\e615';
}

.vh-saas-color-gift:before {
  content: '\e616';
}

.vh-saas-a-color-groupinglive:before {
  content: '\e617';
}

.vh-saas-color-goods:before {
  content: '\e618';
}

.vh-saas-a-color-Datareport:before {
  content: '\e619';
}

.vh-saas-a-color-Functionalconfiguration:before {
  content: '\e61a';
}

.vh-saas-a-color-givealike:before {
  content: '\e61b';
}

.vh-saas-a-color-lianmai:before {
  content: '\e61c';
}

.vh-saas-color-information:before {
  content: '\e61d';
}

.vh-saas-a-color-invitationcard:before {
  content: '\e61e';
}

.vh-saas-a-color-Openingtheposters:before {
  content: '\e61f';
}

.vh-saas-a-color-Playbackmanagement:before {
  content: '\e620';
}

.vh-saas-a-color-Interactivestatistical:before {
  content: '\e621';
}

.vh-saas-a-color-PlayerSettings:before {
  content: '\e622';
}

.vh-saas-a-color-Luckydraw:before {
  content: '\e623';
}

.vh-saas-a-color-officialaccount:before {
  content: '\e624';
}

.vh-saas-color-playback:before {
  content: '\e625';
}

.vh-saas-color-Question:before {
  content: '\e626';
}

.vh-saas-a-color-redpacket:before {
  content: '\e627';
}

.vh-saas-a-color-registrationform:before {
  content: '\e628';
}

.vh-saas-a-color-Inviteranking:before {
  content: '\e629';
}

.vh-saas-a-color-Roletoinvite:before {
  content: '\e62a';
}

.vh-saas-color-questionnaire:before {
  content: '\e62b';
}

.vh-saas-a-color-shareranking:before {
  content: '\e62c';
}

.vh-saas-color-Reward:before {
  content: '\e62d';
}

.vh-saas-a-color-Signin:before {
  content: '\e62e';
}

.vh-saas-a-color-Promotionoftheembedded:before {
  content: '\e62f';
}

.vh-saas-color-share:before {
  content: '\e630';
}

.vh-saas-a-color-Spotfile:before {
  content: '\e631';
}

.vh-saas-a-color-Tomakeanappointment:before {
  content: '\e632';
}

.vh-saas-color-traffic:before {
  content: '\e633';
}

.vh-saas-a-color-Videolimit:before {
  content: '\e635';
}

.vh-saas-color-video:before {
  content: '\e636';
}

.vh-saas-a-color-Videomanagement:before {
  content: '\e637';
}

.vh-saas-a-color-webpageinitiate:before {
  content: '\e638';
}

.vh-saas-a-color-webpageinitiate1:before {
  content: '\e639';
}

.vh-saas-a-color-virtualnumber:before {
  content: '\e63a';
}

.vh-saas-yemiancuowu:before {
  content: '\e69e';
}

.vh-saas-kejianzhunbeizhong:before {
  content: '\e72d';
}

.vh-saas-zanwuwendang:before {
  content: '\e72e';
}

.vh-saas-zhibojieshu:before {
  content: '\e72f';
}

.vh-saas-weizhibozhanweitu:before {
  content: '\e763';
}

.vh-saas-zanwujushou:before {
  content: '\e7e1';
}

.vh-saas-zanwuchengyuan:before {
  content: '\e7e2';
}

.vh-saas-zanwusousuo:before {
  content: '\e7e8';
}
